@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

:root {
    --mainTextColor-light: #000;
    --secondaryTextColor-light: rgb(51 51 51);
    --mainLinkColor-light: #0da2b8;
    --mainBorderColor-light: rgb(218, 218, 218);
    --mainBgColor-light: rgb(249, 250, 251);

    --mainTextColor-dark: #fff;
    --secondaryTextColor-dark: #adb0b1;
    --mainLinkColor-dark: rgb(30, 190, 214);
    --mainBorderColor-dark: #2b3031;
    --mainBgColor-dark: #131415;

    --mainTextColor: var(--mainTextColor-light);
    --secondaryTextColor: (--secondaryTextColor-light);
    --mainLinkColor: var(--mainLinkColor-light);
    --mainBorderColor: var(--mainBorderColor-light);
    --mainBgColor: var(--mainBgColor-light);

}

* {
    font-family: 'Readex Pro';
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColor);
    scroll-behavior: smooth;

}

body {
    background-color: var(--mainBgColor);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 102px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-nav {
    display:table;
    width:100%;
    margin: 0;
}
.navbar-nav > li {
    float:none;
    display:table-cell;
    text-align:center;
}

@media (max-height: 680px) {
    .dropdown-menu {
        max-height: 100px;
        overflow-y: auto;
    }
}

@media (min-width: 768px) {
    .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

p,
span,
li {
    color: var(--secondaryTextColor);
    font-size: 1em;
}

a {
    text-decoration: none;
    color: var(--mainLinkColor);
    font-weight: 500;
}


li {
    line-height: 1.9em;
}

#container--main {
    max-width: 85%;
    margin: 0 auto;
    padding: 1em;
}

.section--page {
    padding-top: 1em;
    padding-bottom: 1em;
}

#wrapper--hero {
    display: flex;
    align-items: center;
    gap: 4em;
}

#bio,
a {
    font-weight: 300;
}

#user-name {
    font-size: 48px;
    line-height: 1em;
}

#profile-pic {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 50%;
}

#email {
    color: var(--mainTextColor);
}

#wrapper--techstack__items {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}

.card--techstack {
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    padding: 0.5em 1em;
    align-items: center;
}

.card--project {
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid var(--mainBorderColor);
}

.card--work-history {
    border-left: 1px solid var(--mainBorderColor);
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 2em;
}

.line-break {
    background-color: var(--mainBorderColor);
    height: 1px;
}


@media(max-width:600px) {

    .section--page {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    #wrapper--hero {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    #profile-pic {
        width: 200px;
        height: 200px;
    }

    #wrapper--hero {
        flex-direction: column;
    }

    .card--work-history {
        border-left: none;
        padding-left: 0;
    }
}

#experience, #education, #skill, #academicProjects, #programming, #scholarship, 
#research, #affiliation, #extra {
    padding-top: 80px;
}